@charset "utf-8";
// --------------------------------------------------
// Easy Arrows styles
// --------------------------------------------------

.easyarrows {
	display: inline-block;
	position: relative;
	transform: translateX(0);
	transition: transform 0.2s ease-out;

	&__svg {
		fill: currentColor;
		width: 1.2em;
		height: 0.6em;
		margin: 0 0.2em;
	}
}

a .easyarrows {
	will-change: transform, color;
}

a:hover {
	.easyarrows {
		&--right { transform: translateX(0.1em);}
		&--left { transform: translateX(-0.1em);}
	}
}

// Korrekt kode, skal indsættes
// .easyarrows {
//     vertical-align: unset;
// }

// .easyarrows__svg {
//     fill: currentColor;
//     position: absolute;
//     top: 0%;
//     left: 0%;
//     transform: translate(0,-85%);
//     width: 1.2em;
//     height: 0.6em;
//     cursor: pointer;
// }